:root{
    --white-color:#FFF;
    --green-color:#668E68;
}
@font-face{
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
.block{
    width: 80%;
    margin: 0 auto;
}
.logo-menu{
    padding: 20px 0px;
    background:var(--green-color);
}
.logo{
    font-family:'Noto Sans Georgian', sans-serif;
    font-size: 44px;
    color: var(--white-color);
    margin: 0px;
}
.menu-button{
    border: none;
}
.menu-icon{
    color: var(--white-color);
    font-size: 30px;
}
.menu-icon:hover{
    transition-duration: 0.5s;
    color: black;
}
.menu-nav{
    gap: 25px; 
}
.menu-nav a{
    font-size: 18px;
    font-family: "Yu Gothic";
    color: var(--white-color);
}
.grand-open-image{
    background-image: url(../№8/img/coffee-big.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grand-open{
    font-family: 'Shadows Into Light', cursive;
    font-size: 110px;
    color: var(--white-color);
    padding: 170px 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
}
.menu{
    padding: 60px 0px;
}
.section-head{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    line-height: 35px;
}
.section-head span{
    font-family: "Yu Gothic";
    font-size: 20px;
}
.menu-food{
    margin: 40px 0px;
}
.block-btn {
    width: 350px;
    height: 350px;
    margin: 5px;
    position: relative;
    border: 9px solid #81613B;
    border-radius: 200px;
    overflow: hidden;
    transition: 1s linear;  
}
.block-btn:hover{
    background-blend-mode: multiply;
    background-color: gray;
}
.food-btn{
    width: 350px;
    height: 350px;
    border: none;
    background: none;
    border-radius: 200px;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 26px;
}
.food-btn p{
    position: absolute;
    z-index: -1;
    background: none;
    bottom:-18px;
    left: 7px;
    width: 100%;
    padding: 35px 0px;
    transition: all 1s ease;
}
.food-btn:hover p{
    z-index: 1;
    bottom:-18px;
    width: 100%;
    padding: 35px 0px;
    background: rgba(255, 255, 255, 0.80);
}
.drink, .cakes, .foods{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.drink{
    background-image: url(../№8/img/drink.png);
}
.cakes{
    background-image: url(../№8/img/cakes.png);
}
.foods{
    background-image: url(../№8/img/foods.png);
}
.green-button button{
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--green-color);
}
.about-info{
    padding: 140px 0px;
    background-image: url(../№8/img/cafe-big.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white-color);
}
.text-des{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
    font-family: "Yu Gothic";
    font-size: 20px;
    margin: 30px 0px 60px 0px;
}
.news{
    background: rgba(129, 97, 59, 0.20);
    padding: 80px 0px;
}
.white-block{
    width: 100%;
    background: var(--white-color);
    border: 1px solid var(--unnamed, #668E68);
    margin-top: 60px;
    gap: 10px;
    padding: 20px;
    font-family: "Yu Gothic";
    font-size: 16px;
}
.black-block{
    position: relative;
    background: black;
    color: var(--white-color);
    padding: 20px 0px 80px 0px;
}
.contacts{
    font-family: "Yu Gothic";
    font-size: 16px;
}
.contacts a{
    text-decoration: none;
    color: var(--white-color);
}
.rights{
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 16px;
}
.btn-to-the-top{
    position: absolute;
    right: 20px;
    bottom: 55px;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: none;
    background: var(--green-color);
    color: var(--white-color);
}
.btn-to-the-top:hover, .green-button button:hover{
    transition-duration: 0.5s;
    color: black;
}
@media (max-width:576px){
    .block{
        width:100%;
    }
    .logo{
        font-size: 35px;
    }
    .grand-open-image{
        background-image: url(../№8/img/coffee-small.png);
    }
    .grand-open{
        font-size: 50px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.40);
        padding: 140px 0px;
    }
    .menu{
        padding-top: 40px;
    }
    .food-btn, .block-btn{
        width: 300px;
        height: 300px;
    }
    .about-info{
        background-image: url(../№8/img/cafe-small.png);
        padding: 40px 0px;
    }
    .white-block{
        width: 90%;
        margin: 50px auto 0px auto;
    }
    .black-block{
        padding-bottom: 20px;
    }
    .rights{
        margin-top: 50px;
    }
}